# files folder
assets/minecraft/files

# changelogs
changelog archive

# optifine
assets/minecraft/optifine

# GUI stuff
assets/minecraft/textures/gui/demo_background.png
assets/minecraft/textures/gui/footer_separator.png
assets/minecraft/textures/gui/header_separator.png
assets/minecraft/textures/gui/inworld_footer_separator.png
assets/minecraft/textures/gui/inworld_header_separator.png
assets/minecraft/textures/gui/tab_header_background.png

# GUI containers
assets/minecraft/textures/gui/container/smoker.png
assets/minecraft/textures/gui/container/brewing_stand.png
assets/minecraft/textures/gui/container/blast_furnace.png
assets/minecraft/textures/gui/container/cartography_table.png
assets/minecraft/textures/gui/container/loom.png
assets/minecraft/textures/gui/container/shulker_box.png
assets/minecraft/textures/gui/container/smithing.png
assets/minecraft/textures/gui/container/stonecutter.png
assets/minecraft/textures/gui/container/hopper.png

# GUI container sprites
assets/minecraft/textures/gui/sprites/container/beacon
assets/minecraft/textures/gui/sprites/container/brewing_stand
assets/minecraft/textures/gui/sprites/container/bundle
assets/minecraft/textures/gui/sprites/container/cartography_table
assets/minecraft/textures/gui/sprites/container/enchanting_table
assets/minecraft/textures/gui/sprites/container/loom
assets/minecraft/textures/gui/sprites/container/smithing
assets/minecraft/textures/gui/sprites/container/smoker
assets/minecraft/textures/gui/sprites/container/stonecutter
assets/minecraft/textures/gui/sprites/container/villager/trade_arrow.png
assets/minecraft/textures/gui/sprites/container/villager/trade_arrow_out_of_stock.png

# GUI widget
assets/minecraft/textures/gui/sprites/widget/button.png
assets/minecraft/textures/gui/sprites/widget/button.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/button_disabled.png
assets/minecraft/textures/gui/sprites/widget/button_disabled.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/button_highlighted.png
assets/minecraft/textures/gui/sprites/widget/button_highlighted.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/checkbox.png
assets/minecraft/textures/gui/sprites/widget/checkbox_highlighted.png
assets/minecraft/textures/gui/sprites/widget/checkbox_selected.png
assets/minecraft/textures/gui/sprites/widget/checkbox_selected_highlighted.png
assets/minecraft/textures/gui/sprites/widget/cross_button.png
assets/minecraft/textures/gui/sprites/widget/cross_button_highlighted.png
assets/minecraft/textures/gui/sprites/widget/locked_button.png
assets/minecraft/textures/gui/sprites/widget/locked_button_disabled.png
assets/minecraft/textures/gui/sprites/widget/locked_button_highlighted.png
assets/minecraft/textures/gui/sprites/widget/scroller.png
assets/minecraft/textures/gui/sprites/widget/scroller.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/scoller_background.png
assets/minecraft/textures/gui/sprites/widget/scroller_background.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/slider.png
assets/minecraft/textures/gui/sprites/widget/slider.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/slider_handle.png
assets/minecraft/textures/gui/sprites/widget/slider_handle.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/slider_handle_highlighted.png
assets/minecraft/textures/gui/sprites/widget/slider_handle_highlighted.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/slider_highlighted.png
assets/minecraft/textures/gui/sprites/widget/slider_highlighted.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/slot_frame.png
assets/minecraft/textures/gui/sprites/widget/tab.png
assets/minecraft/textures/gui/sprites/widget/tab.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/tab_highlighted.png
assets/minecraft/textures/gui/sprites/widget/tab_highlighted.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/tab_selected.png
assets/minecraft/textures/gui/sprites/widget/tab_selected.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/tab_selected_highlighted.png
assets/minecraft/textures/gui/sprites/widget/tab_selected_highlighted.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/text_field.png
assets/minecraft/textures/gui/sprites/widget/text_field.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/text_field_highlighted.png
assets/minecraft/textures/gui/sprites/widget/text_field_highlighted.png.mcmeta
assets/minecraft/textures/gui/sprites/widget/unlocked_button.png
assets/minecraft/textures/gui/sprites/widget/unlocked_button_disabled.png
assets/minecraft/textures/gui/sprites/widget/unlocked_button_highlighted.png

# alternate textures
assets/minecraft/textures/gui/alternate_textures
assets/minecraft/textures/gui/sprites/recipe_book/alternate_textures